<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content">
  <?php if($success): ?>
    <div class="success"><?php echo $success; ?></div>
  <?php endif; ?>
  <?php echo $content_top; ?>
<?php echo $content_bottom; ?></div>
<?php echo $footer; ?>