html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: url('../image/page-bg.png') repeat-x;
}

body,td,th,input,textarea,select,a {
	font-size: 12px;
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}

input,textarea,select {
	margin: 3px 0px;
}

a,a:visited {
	color: #946243;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

p {
	margin-top: 0px;
}

/* layout */
#container {
	width: 1000px;
	background: #000;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	background: #fff url('../image/bg-ptn6.jpg') no-repeat bottom;
}

#header .div2 {
	float: left;
	padding-top: 15px;
	padding-left: 15px;
}

#header .div3 {
	float: right;
	padding-top: 7px;
	padding-right: 15px;
}

#header .div3 a {
	font-size:10px;
	margin-left: 15px;
	padding: 1px 0px 2px 20px;
	background-repeat: no-repeat;
	background-position: left center;
}

#header .div4 {
	width: 430px;
	clear: right;
	float: right;
	padding-right: 0px;
}

#header .div4 a {
	float: left;
	margin-right: 2px;
	width: 84px;
	height: 18px;
	padding-top: 3px;
	text-align: center;
	text-decoration:none;
	color: #fff;
	background:#8b968d;
	font-size: 11px;
	position: relative;
	z-index: 1;
}
#header .div4 a:hover {
	text-decoration: underline;
	width: 82px;
	height: 16px;
	color: #8b968d;
	background:#fff;
	border: 1px solid #8b968d;
}

#header .div4 a.selected {
	color: #946243;
	padding-bottom: 10px;
	z-index: 3;
}

#header .div5 {
	clear: both;
}

#header .div7 {
	float: right;
	padding-top: 2px;
	padding-bottom: 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#header .div8 {
	float: left;
	margin-top: 6px;
	font-size: 11px;
}

#header .div9 {
	float: left;
}

#header .div10 {
	float: left;
	margin-top: 2px;
}

#header .div11 {
	clear: both;
	border-top: 1px solid #faebd7;
	border-bottom: 1px solid #faebd7;
	height: 30px;
	background: #f8f4e6;
	margin-bottom:10px;
}

#search {
	width: 329px;
	clear: right;
	float: right;
	padding-right: 0px;
	font-size: 11px;
}

#search select {
	border: 1px solid #faebd7;
	padding-top: 10px;
}

#search a {
	font-size: 11px;

}

#search input {
	border: 1px solid #faebd7;
	padding: 2px;
}

ul,li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#breadcrumb {
	float: left;
	color: #000000;
	clear: both;
}

#breadcrumb li {
	float: left;
	color: #777;
	margin-top: 6px;
	padding-left: .75em;
	display: block;
}

#breadcrumb li a {
	font-size:10px;
	padding: 1px 1px 2px 0px;
}

#breadcrumb li a:link,#breadcrumb li a:visited {
	color: #777;
	text-decoration: none;
}

#breadcrumb li a:hover,#breadcrumb li a:focus {
	color: #dd2c0d;
}

.switcher {
	float: right;
	margin-top: 3px;
	margin-left: 10px;
}

.switcher a {
	text-decoration: none;
	display: block;
}

.switcher .selected {
	background: #FFFFFF url('../image/switcher.jpg') repeat-x;
}

.switcher .selected a {
	border: 1px solid #a86f4c;
	background: url('../image/arrow_down.png') 116px center no-repeat;
	color: #666666;
	padding: 2px 5px 2px 5px;
	width: 121px;
}

.switcher .selected a:hover {
	background: #e8d3c7 url('../image/arrow_down.png') 116px center
		no-repeat;
}

.switcher .option {
	position: absolute;
	z-index: 3;
	border-left: 1px solid #a86f4c;
	border-right: 1px solid #a86f4c;
	border-bottom: 1px solid #a86f4c;
	background-color: #e8d3d1;
	display: none;
	width: 131px;
}

.switcher .option a {
	color: #000;
	padding: 3px 5px 3px 5px;
}

.switcher .option a:hover {
	background: #f0908d;
}

.switcher img {
	position: relative;
	top: 1px;
}

#column_left {
	float: left;
	width: 200px;
	margin-right: 10px;
	clear: left;
}

#column_right {
	float: right;
	width: 200px;
	margin-left: 10px;
	clear: right;
}

#content {
	margin-left: 210px;
	margin-right: 210px;
	margin-bottom: 10px;
}

#content .top {
	margin-left: 5px;
	margin-right: 5px;
}

#content .top h1 {
	padding: 8px 0px 8px 7px;
	border-bottom: 3px solid #faebd7;
}

#content h1,.heading {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 0px;
}

.heading {
	border-bottom: 1px solid #faebd7;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

#content .middle {
	background: #FFFFFF;
	padding: 10px 10px 1px 10px;
	min-height: 380px;
}

.box {
	margin-bottom: 10px;
	background: url('../image/title1.gif') no-repeat;
}

.box .top {
	padding: 7px 0px 6px 7px;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.box .top img {
	float: left;
	margin-right: 5px;
}

.box .middle {
	background: #fff url('../image/grade.jpg') repeat-x;
	padding: 10px;
	margin: 0 5px 0 5px;
}

.box .bottom {
	height: 5px;
}

.success {
	padding: 5px 0px;
	margin-bottom: 10px;
	background: #E4F1C9;
	border: 1px solid #A5BD71;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

.warning {
	padding: 5px 0px;
	margin-bottom: 10px;
	background: #FFDFE0;
	border: 1px solid #FF9999;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

.wait {
	padding: 5px 0px;
	margin-bottom: 10px;
	background: #FBFAEA;
	border: 1px solid #EFEBAA;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

.required {
	color: #FF0000;
	font-weight: bold;
}

.error {
	color: #FF0000;
	display: block;
}

.help {
	cursor: pointer;
}

.tooltip {
	border: 1px solid #FDDA5C;
	background: #FBFF95;
	padding: 5px;
	font-size: 11px;
	width: 250px;
}

.clear { /* generic container (i.e. div) for floating buttons */
	overflow: hidden;
	width: 100%;
}

.button {
	padding-left: 8px;
	display: inline-block;
	margin-right: 5px;
	background: url('../image/button_left.png') top left no-repeat;
	text-decoration: none;
	color: #FFF;
}

.button span {
	color: #FFF;
	display: block;
	padding: 4px 12px 5px 5px;
	background: url('../image/button_right.png') top right no-repeat;
}

.buttons {
	background: #fff;
	padding: 5px;
	margin-bottom: 10px;
}

.buttons input {
	padding: 0px;
	margin: 0px;
}

.buttons table {
	width: 100%;
	border-collapse: collapse;
}

.buttons table td {
	vertical-align: middle;
}

.content {
	background: #f8f4e6;
	border: 1px solid #dcd3b2;
	padding: 10px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.list {
	margin-bottom: 10px;
	width: 100%;
}

.list td {
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px;
}

.sort {
	margin-bottom: 10px;
	background: #ebf6f7 url('../image/bg-ptn4.jpg') no-repeat;
	height: 30px;
	width: 100%;
}

.sort .div1 {
	float: right;
	margin-left: 5px;
	padding-top: 6px;
	padding-right: 9px;
}

.sort .div2 {
	text-align: right;
	padding-top: 9px;
}

.sort select {
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.pagination {
	display: inline-block;
	width: 100%;
	background: #ebf6f7 url('../image/bg-ptn4.jpg') no-repeat;
	margin-bottom: 10px;
}

.pagination .links,.pagination .results {
	padding: 7px;
}

.pagination .links {
	float: left;
}

.pagination .links a {
	border: 1px solid #a86f4c;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
}

.pagination .links b {
	border: 1px solid #a86f4c;
	padding: 4px 7px;
	text-decoration: none;
	color: #000000;
	background: #FFFFFF;
}

.pagination .results {
	float: right;
}

.tabs {
	width: 100%;
	height: 31px;
	margin-bottom: 0px;
}

.tabs a {
	float: left;
	display: block;
	padding: 6px 15px 7px 15px;
	margin-right: 2px;
	border-top: 1px solid #faebd7;
	border-bottom: 1px solid #faebd7;
	border-left: 1px solid #faebd7;
	border-right: 1px solid #faebd7;
	background: #FFFFFF url('../image/bg-ptn5.jpg') repeat-x;
	color: #000000;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	z-index: 1;
	position: relative;
	top: 1px;
}

.tabs a.selected {
	background: #FFFFFF url('../image/bg-ptn3.jpg') repeat-x;
	border-bottom: 0px;
	padding-bottom: 8px;
	z-index: 3;
}

.tab_page {
	border: 1px solid #faebd7;
	background: #FFFFFF;
	padding: 10px;
	display: block;
	z-index: 2;
	margin-bottom: 10px;
}

#footer {
	width: 990px;
	clear: both;
	padding-top: 75px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: -10px;
}

#footer .div1 {
	float: left;
	text-align: left;
}

#footer .div2 {
	float: right;
	text-align: right;
}

#category ul {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding-left: 12px;
	list-style: url('../image/point.gif');
}

#information ul {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
	padding-left: 12px;
	list-style: url('../image/bullet_2.png');
}

.cart {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #e4d2d8;
	margin-bottom: 10px;
}

.cart th {
	background: #e4d2d8;
	padding: 5px;
	font-weight: normal;
}

.cart td {
	padding: 5px;
}

.inline-contents1 {
	background: url('../image/bg-ptn1.jpg') no-repeat;
	border: 1px solid #c1e4e9;
	padding: 10px;
	min-height: 210px;
}

.inline-contents2 {
	background: url('../image/bg-ptn2.jpg') no-repeat;
	border: 1px solid #c1e4e9;
	padding: 10px;
}

.inline-contents3 {
	background: #e8d3c7;
	border: 1px solid #a2d7dd;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 15px;
}

.inline-contents4 {
	background: #e8d3c7;
	border: 1px solid #FFCC33;
	padding: 10px;
	margin-top: 2px;
	margin-bottom: 15px;
}

.inline-contents5 {
	background: #ebf6f7 url('../image/bg-ptn3.jpg') no-repeat;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.inline-contents6 {
	background: #ebf6f7 url('../image/bg-ptn5.jpg') no-repeat;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}