html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background: url("../image/body_bg.gif") no-repeat scroll top center #f3f5f6;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
  font: bold 22px Arial;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 0 0 1px rgba(0, 0, 0, .01);
  border-bottom: 1px dashed #d3d3d3;
}
h2 {
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
}
p {
	margin-top: 0px;
	margin-bottom: 20px;
}
a, a:visited, a b {
	color: #0075e2;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
#cc,
#company-id-display,
#tax-id-display,
#pc {
	display:none;
}




select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background: #fff;
	border: 0px solid #e9eaeb;
	/*border-width: 0 2px 2px 2px;*/
	padding: 3px 3px;
}
#column-left {
	float: left;
	width: 190px;
}
#column-right {
	float: right;
	width: 180px;
}
#content {
	min-height: 400px;
	margin-bottom: 25px;
	font-size:14px;
    color: #000;
}
#content table td, #content table th{
    color: #000;
    font-size: 14px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 205px;
}
#column-right + #content {
	margin-right: 195px;
}
/* header */
#header {
	height: 76px;
	position: relative;
	z-index: 99;
	background: url('../image/logo_blu_bg.jpg') repeat-x 0 0;
}
#header_bg_left {
	background: url('../image/logo_blu_bg.jpg') repeat-x 0 0;
	width: 100%;
	height: 100%;
}
#header_bg_right {
	background: url('../image/logo_blu_bg.jpg') repeat-x right 0;
	width: 100%;
	height: 100%;
}
#header #logo {
	position: absolute;
	top: 0;
	left: 0;
}
#language {
	position: absolute;
	top: 15px;
	left: 335px;
	width: 75px;
	color: #626262;
	line-height: 17px;
	font: 12px Arial;
}
#language img {
	cursor: pointer;
}
#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #626262;
	line-height: 17px;
	font: 12px Arial;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #626262;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}
#search_panel {
	position: relative;
	height: 31px;
	background: url('../image/search_panel.gif') repeat-x 0 0;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	border: 0px solid #e8e7e0;
	border-width: 0px 1px 1px;
	margin-bottom: 15px;
	z-index: 200;
}
#search_panel #cart {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9;
	min-width: 300px;
}
#search_panel #cart .heading {
	float: right;
	margin-right: 12px;
	margin-top: 9px;
	padding-left: 14px;
	padding-right: 14px;
	position: relative;
	z-index: 1;
}
#search_panel #cart .heading h4 {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#search_panel #cart .heading a {
	color: #383838;
	text-decoration: none;
	background: url('../image/cart_icon.gif') no-repeat 0 0;
	padding-left: 20px;
}
#search_panel #cart .heading a span {
	background: url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#search_panel #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	right: 0;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}

#search_panel #cart.active .heading {
	/* margin-top: 5px;
	padding-top: 9px; */
	padding-bottom: 6px;
	/* border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE; */
	/* -webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px; */
}
#search_panel #cart.active .content {
	display: block;
}
#search_panel #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#search_panel #cart .cart td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
#search_panel #cart .cart .image {
	width: 1px;
}
#search_panel #cart .cart .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
#search_panel #cart .cart .name small {
	color: #666;
}
#search_panel #cart .cart .quantity {
	text-align: right;
}
#search_panel #cart .cart td.total {
	text-align: right;
}
#search_panel #cart .cart .remove {
	text-align: right;
}
#search_panel #cart .cart .remove img {
	cursor: pointer;
}
#search_panel #cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#search_panel #cart table.total td {
	color: #000;
}
#search_panel #cart .content .checkout {
	text-align: right;
	clear: both;
}
#search_panel #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#search_panel #search {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 298px;
	z-index: 15;
}
#search_panel .button-search {
	position: absolute;
	left: 184px;
	top: 1px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#search_panel #search input {
	background: #FFF url('../image/search_bg.gif') repeat-x 0 0;
	padding: 1px 1px 1px 7px;
	width: 170px;
	height: 18px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;	
	color: #696969 !important;
	font: 12px Arial;
}
#header #welcome {
	position: absolute;
	top: 50px;
	right: 12px;
	z-index: 5;
	width: 298px;
	text-align: right;
  color: #FFF;
}
#header #welcome  a {
	text-decoration: none; color: #fff;
}
.vk {
    position: absolute;
    right: 369px;
    top: 42px;
}
#header #welcome  a:hover{
	text-decoration: underline;
}
#header .links {
	position: absolute;
	right: 0px;
	top: 7px;
	font-size: 10px;
	padding-right: 12px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #fff;
	text-decoration: none;
	font: 12px Verdana;
}
#header .links a + a {
	margin-left: 8px;
}
#header .links a:hover {
	text-decoration:underline;
}
/* menu */
#menu {
	background: #707070 url('../image/category_menu_bg.gif') repeat-x 0 bottom;
	height: 34px;
	margin-bottom: 0px;
	padding: 0px 0px;
	border: 1px solid #4799a1;
	border-color: #5aa4ad #499ba5 #4799a1 #499ba5;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 201;	
}
#menu > ul > li:hover {
	background: #10a9ce;
}
#menu > ul > li > a {
	font:bold 12px Arial;
	color: #FFF;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 10px 17px 10px 17px;
	z-index: 6;
	position: relative;
	border-right: 1px solid #55c4df;
}
#menu > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 5px;
	border: 1px solid #55C4DF;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	background: url('../image/menu.png');
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	background: #007896;
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
}
.breadcrumb {
	color: #85887d;
	margin-bottom: 10px;
	margin-left: 4px;
	font-size:14px;
    
}
.breadcrumb a{
	color: #9a9e8f;
	font: normal 14px Tahoma;
	text-decoration: none;
}
.breadcrumb a:hover {
	text-decoration: underline;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.information {
	background: #E8F6FF url('../image/information.png') 10px center no-repeat;
	border: 1px solid #B8E2FB;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #FFFEFC;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
table.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button {
	display: inline-block;
	padding-left: 9px;
	background: url('../image/button-left.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button span {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 2px 12px 3px 5px;
	background: url('../image/button-right.png') top right no-repeat;
}
a.button:hover {
	background: url('../image/button-left-active.png') top left no-repeat;
}
a.button:hover span {
	color: #FFFFFF;
	background: url('../image/button-right-active.png') top right no-repeat;
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
}
.tab-content table tr td, .tab-content table tr th{
    font-size: 14px;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD; 
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
    color: #000;
}
.tab-content table td, .tab-content table th {
    color: #000;
}
/* box */
.box {
	margin-bottom: 17px;
}
#content .box .box-heading {
	background: none;
	border: none;
	border-bottom: 1px dashed #D3D3D3;
	color: #496D69;
	font: bold 22px Arial;
	padding-bottom: 10px;
	padding-left: 0px;
}
.box .box-heading {
	border: 1px solid #49a5af;
	background: url('../image/background.png') repeat-x;
	padding: 5px 10px 0px 10px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	height: 20px;
}
#content .box .box-content {
	border: none;
}

.box .box-content {
	background: #FFFFFF;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
}
.box .box-content>ul{
	padding: 0px;
	margin: 0;
	list-style: none;
}
.box .box-content>ul li {
	padding: 2px 0;
}
.box .box-content>ul li a{
	text-decoration: none;
	color: #2b2b2b;
	font-size: 11px;
}
.box .box-content>ul li a:hover {
	color: #5a5a5a;
}
/* box products */
.box-product {
	width: 100%;
	overflow: auto;
	text-align: center;
}

#content .box-product {
	text-align: left;
}
	
.box-product > div {
    border: 1px solid #CCCCCC;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 0;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    width: 120px;
}
#content .box-product > div {
	margin-right: 15px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.box-product .name a {
	color: #0078e8;
	font: normal 11px Verdana;
	display: block;
	margin-bottom: 4px;
}
.box-product .price {
	display: block;
	color: #2b2b2b;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #a30101;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: normal;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding: 4px 8px 4px 9px;
	background: url('../image/arrow_menu.gif') no-repeat 2px 5px;
}
.box-category > ul > li + li {
	border-top: 1px dotted #d6d6d6;
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #2b2b2b;
}
.box-category > ul li {
    position: relative;
    left: -11px;
    padding-left: 20px;
}
.box-category ul li ul{
    /*position: absolute;
    background-color: #fffff5;
    border: 1px solid #d6d6d6;*/
    left: 188px;
    top: -1px;
    width: 158px;
    padding: 0 10px;
}
.box-category ul li ul{
    width: 168px;
}
.box-category ul li ul li + li{
    border-top: 1px dotted #d6d6d6;
}
.box-category ul li ul li{
    padding: 5px 5px 5px 10px !important;

}
.box-category  ul li.actived{
    background-color: #fffff5;
    /*background-position-x: 11px;*/
    border: 1px solid #d6d6d6;
    border-right: 0;
    width: 170px;
    padding-left: 20px;
    left: -11px;
}
.box-category  ul li.actived + li{
    border-top: 0;
}
.box-category  ul li:first-child{
    border-top: 0 !important;
}
.box-category > ul > li > a:hover{
	color: #5a5a5a;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.actived + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a:hover {
	color: #2297f4;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
    color: #000;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
  overflow: auto;
  background: #EBEBEB;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px dashed #d3d3d3;
  border-top: 1px dashed #d3d3d3;
  margin-bottom: 25px;
  margin-right: 5px;
  color: #0075e2 !important;
}

#content h1{
  border: none;
  color: #0075e2 !important;
}

.category-list ul {
	float: left;
	width: 18%;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
  color: #0075e2 !important;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
	color: #333;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
	padding: 0 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	color: #0078E8;
	font: bold 16px Verdana;
}
.product-list .description {
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 5px;
	margin-left: 130px;
	margin-right: 150px;
	text-align: justify;
}
.product-list .description table td, .product-list .description table th {
    color: #000;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 20px;
}
.product-list .price-old {
	color: #A30101;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: normal;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	text-align: center;
	width: 230px;
    border: 1px solid #CCCCCC;
    padding: 5px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
}
.product-grid .image img {
	padding: 3px;
  max-width: 220px;
  max-height: 220px;
}
.product-grid .name a {
	color: #0078E8;
	font: normal 11px Verdana;
	display: block;
	margin-bottom: 4px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	color: #333333;
	margin-bottom: 4px;
}
.product-grid .price-old {
	color: #A30101;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: normal;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin: 0 10px 3px;
}
.product-grid .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-grid .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
/* Product */
#product_next{
    position: relative;
    float:right;
    bottom: 18px;
    right: 130px;
    cursor: pointer;
}
#product_next > div{
    position: absolute;
    cursor: pointer;
    width: 130px;
}
#product_prev{
    position: relative;
    float:left;
    bottom: 18px;
    left: 10px;
}
#product_prev > div{
    position: absolute;
    cursor: pointer;
    width: 130px;
}
#product_next a, #product_prev > div a{
    text-decoration: none;
}
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 281px;
}
.product-info .image {
  margin-left: -12px;
  width: 265px;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
  width: 76px;
}
.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #000;
	font-size:14px;
}
.product-info .description span {
	color: #000;
	font-weight: bold;
}
.product-info .description a {
	color: #000;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
	
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-product td {
	padding: 7px;
}
.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #FFFEFC;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}
.wishlist-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F00;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #FFFEFC;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
  max-width: 300px;
}
.cart-info tbody .quantity, .cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading {
	border: 1px solid #DBDEE1;
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
	cursor: pointer;
	background: #FFFEFC url('../image/arrow-right.png') 10px 50% no-repeat;
}
.cart-module .active {
	background: #FFFEFC url('../image/arrow-down.png') 7px 50% no-repeat;
}
.cart-module .cart-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #FFFEFC;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #FFFEFC;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 15px 15px 10px;
	border-top: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	background: #F8F8F8;
}
#footer h3 {
	color: #000000;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-left: 5px;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 8px;
	padding-left: 12px;
}
#footer .column ul li {
	margin-bottom: 3px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
	font-size: 11px;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	margin-top: 5px;
	clear: both;
	padding: 1px;
	font: normal 11px Verdana;
	color: #2c2b2b;
}
#powered a {
	font: normal 11px Verdana;
	color: #2c2b2b;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 20px;
}
input[type="button"].button, a.button{
    background-image: url(../image/button-bg.png);
    background-repeat: repeat-x;
    padding: 3px 13px;
    /*border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*-khtml-border-radius: 10px;*/
    border: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="button"].button:hover, a.button:hover{
    background-image: url(../image/button-bg_active.png);
    background-repeat: repeat-x;
    text-decoration: none;
}
/*--------------- gallery ------------------ */
a b,
.bottom a,
b {text-decoration: none; color: #45688E; font-size: 11px;}
.gallery-cat > div,
.gallery-list > div {
	display: inline-block;
	height: 87px;
	padding: 9px 9px 9px 10px;
	width: 130px;

}
a b:hover,
.bottom a:hover,
b:hover {text-decoration: underline;}

.gallery-list > ul li,
.gallery-list ul li {position: relative;
	list-style: none;
	display: inline-block;
	border: 1px solid #333;
	overflow: hidden;
	margin: 9px;
	vertical-align: top;
}
.bottom ul li p {margin-bottom: 0;}
.bottom {
	font-size: 11px;
	list-style: none outside none;
	margin: 30px 0 0;
	padding: 0;
}
.bottom  li {
	margin: 0;
	float: left;


}



.clear_fix {
	display: block;
}
.t_bar {
	border-bottom: 1px solid #597DA3;
	padding: 11px 10px 0;
}
.clear_fix:after {
	clear: both;
	content: ".";
	display: inline-block;
	height: 0;
	visibility: hidden;
	height: 31px;
	border-radius: 5px 5px 0 0 ;
}

ul.t0, ul.t0 li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.t0 {
	width: 605px;
}

ul.t0 li {
	float: left;
	text-align: center;
}

ul.t0 li.active_link a, ul.t0 li.active_link a:hover {
	background: none repeat scroll 0 0 #597DA3;
	color: #FFFFFF;
}
ul.t0 li a {
	outline: medium none;
}
ul.t0 a {
	background-color: #FFFFFF;
	float: left;
	margin-right: 5px;
	max-width: 250px;
	padding: 0 0 5px;
	text-decoration: none;
}
ul.t0 .tab_word {
	display: block;
	font-weight: normal;
	line-height: 1.19em;
	margin: 0 10px;
	max-width: 230px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.photos_tabs ul.t0 .tab_word {
	max-width: 180px;
	color: white;
	text-decoration: none;
}
ul.t0 li a {
	outline: medium none;
	padding: 9px;
}
ul.t0 li.active_link a, ul.t0 li.active_link a:hover {
	background: none repeat scroll 0 0 #597DA3;
	color: #FFFFFF;
	border-radius: 5px 5px 0 0;

}
.bottom {text-decoration: none;}
.gallery-top {border-bottom: 1px solid #DAE1E8; padding: 15px 0 5px 0 !important;width: 100% !important; height: 21px !important;}
.article-content textarea {width: 60% !important;}
.article-content span[style="font-size: 11px;"] {display: none !important;}
.article-content b {display: none !important;}
.article-share {display: inline-block;}
.shara .article-share .at16nc.at16t_compact {
	background: url("/catalog/view/theme/default/image/like.gif") no-repeat scroll 1px 0 transparent !important;	
	margin-top: 8px;
	height: 9px;
}
.gallery-added {
	color: #777777;
}
.shara { margin-bottom: 20px;}

.photo_album_title {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	color: white;
	line-height: 12px;
	margin-top: 163px;
	padding: 5px 0 5px;
	position: absolute;
	text-align: left;
	bottom: 0;
	width: 100%;
}

.photo_album_title div.ge_photos_album {
	font-weight: bold;
	margin-right: 5px;
	max-width: 208px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fl_l {
	float: left;
}
 .photo_album_title {
	color: white;
	line-height: 12px;
	text-align: left;
}

.photo_album_title div.camera {
	background: url("/catalog/view/theme/default/image/camera_white.png") no-repeat scroll 0 2px transparent;
	font-weight: bold;
	padding-left: 14px;
	float: right;
}
 .photo_album_title div {
	margin: 0 7px;
}
.summary_wrap {
    margin: 0 25px;
    padding: 20px 0 0;
}
.summary_wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DAE1E8;
    color: #45688E;
    padding: 13px 10px 0;
}

.albums_load_more {
    background: none repeat scroll 0 0 #EFF1F3;
    color: #738392;
    display: block;
    margin: 0 25px 15px;
    padding: 10px;
    text-align: center;
}

a.active{
	font-weight: bold;
}

ul.box-category > li ul > li > a{
	color: #0075e2 !important;
}

.ups{
  font-weight: bold;
	color: #E00;
}

.Pod_cList{
	display:inline-table;
	font-variant: small-caps;
	text-decoration: none;
	text-transform: capitalize;
}

.Pod_cList a span, .Pod_cList span{
	display: inline-table;
	font-variant: small-caps;
	text-decoration: none;
	text-transform: capitalize;
	border-right: 1px solid #0075e2 !important;
	padding-left: 5px;
	padding-right: 5px;
	color: #0075e2 ;
	font-size: 14px;
}
.Pod_cList span{
  color: #000000;
}
.Pod_cList a span:hover{
	color: #0075e2 !important;
}


.product-list div.image a img{
	max-height: 100px;
}

#scrollRight{
  width: 10px;
  float: right;
  height: 14px;

  background-image: url(../image/button-bg.png);
  background-repeat: repeat-x;
  padding: 3px 13px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

#scrollLeft{
  width: 10px;
  float: left;
  height: 14px;
  margin-left: 7px;
  background-image: url(../image/button-bg.png);
  background-repeat: repeat-x;
  padding: 3px 13px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

html, body, div, table, span, a{
  font-family: Verdana, Tahoma !important;
}

#info_opup{
  width: 435px;
  height: 150px;
  border: solid 1px;
  border-radius: 3px;
  background: #FFE4B5;
  position: absolute;
  top: 10px;
  z-index: 99999;
  right: 33%;
  text-align: center;
  font-size: 15px;
  display: none !important;
}
#info_opup_close{
  text-align: right;
  padding-right: 10px;
}
#navnav{
  width: 100%; border-collapse: collapse;
  /*position: absolute; opacity: 0.3;*/
}
#navnav:hover{
  opacity: 1;
}


.image a #image{
  max-width: 275px;
}