<div class="box">
  <div class="box-heading"><?php echo $heading_title; ?></div>
  <div class="box-content">
    <ul class="box-category">
      <?php foreach ($categories as $category) { ?>
      <li>
        <?php if ($category['category_id'] == $category_id) { ?>
        <a href="<?php echo $category['href']; ?>" class="active"><?php echo $category['name']; ?></a>
        <?php } else { ?>
        <a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a>
        <?php } ?>
        <?php if ($category['category_id'] == $category_id && $category['children']) { ?>
        <ul>
          <?php foreach ($category['children'] as $child) { ?>
          <li>
            <?php if ($child['category_id'] == $child_id) { ?>
            <a href="<?php echo $child['href']; ?>" class="active"> - <?php echo $child['name']; ?></a>
            <?php } else { ?>
            <a href="<?php echo $child['href']; ?>"> - <?php echo $child['name']; ?></a>
            <?php } ?>
            <!-- -->
            <?php
            ?>
              <?php if ($child['category_id'] == $child_id && $child['children']) { ?>
              <ul>
                <?php foreach ($child['children'] as $child_child) { ?>
                <li>
                  <?php if ($child_child['category_id'] == $child_child_id) { ?>
                  <a href="<?php echo $child_child['href']; ?>" class="active"> - <?php echo $child_child['name']; ?></a>
                  <?php } else { ?>
                  <a href="<?php echo $child_child['href']; ?>"> - <?php echo $child_child['name']; ?></a>
                  <?php } ?>
                </li>
                <?php } ?>
              </ul>
              <?php } ?>
            <!-- -->
          </li>
          <?php } ?>
        </ul>
        <?php } ?>
      </li>
      <?php } ?>
    </ul>
  </div>
</div>
