<div id="content" style="width: 600px; height: 480px;">
 <?php if (isset($news_info)) { ?>
 <div class="border">
	<?php if ($thumb) { ?>
	<a href="<?php foreach ($products as $product) { ?><?php echo $product['href']; ?><?php } ?>" title="<?php echo $heading_title; ?>" ><img class="article-image" src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" id="image" /></a>

	<?php } ?>   
	<ul class="bottom">
		<li style="width: 65%">
		<?php echo $description; ?>
			<div class="shara">
<style type="text/css">
.b-share-form-button_share .b-share-form-button__icon {display: none;}
.b-share-form-button_share .b-share-form-button__before {margin-left: 2px;}.b-share-form-button_share {padding-left: 0px !important;vertical-align: top;}
.b-share-form-button_share .b-share-form-button__before {margin-left: -3px;}
</style>
				<span class="gallery-added" >Добавленна <?php echo $date_added; ?>  | </span>
				<span class="article-share"><?/*<span style="color: #2F5879;">Мне нравится  </span>*/?>
					<script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
					<div class="yashare-auto-init" data-yashareL10n="ru"
                 data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div>
   				</span><br />
				<a href="javascript://" onclick="$('.border').hide(); $('.gallery-com').show(); "><b>Комментарии</b></a>
		</li>
		<li style="border-left: 1px solid #EEEEEE;min-height: 100px;padding-left: 15px;width: 30%;">Альбом:<br />
			<a href="<?php echo $href; ?>"><b><?php echo $category; ?></b></a><br /><br />
			<a href="<?php echo $thumb; ?>"><b>Загрузить оригинал на диск</b></a>
		</li>
	</ul>
  </div>
  <div class="gallery-com" style="display: none">
    <br /><a href="javascript://" onclick=" $('.gallery-com').hide(); $('.border').show(); "><b>Назад</b></a><br /><br />
    <?php if ($acom != 0) { ?>
	<div class="line-article-coments"><span class="title-coments"><?php echo $text_coms; ?></span><?/* "<?php echo $heading_title; ?>" <span class="title-coments">-</span> */?><span class="article-coments"><?php echo $title_comments; ?></span> <span class="title-coments"><?php echo $item_comments; ?></span></div>
	<?php if ($comment) { ?>
		<?php foreach ($comment as $comment) { ?>
		<div class="article-content"><div class="article-author-head"><b><?php echo $comment['author']; ?></b> - <?php echo $comment['date_added']; ?></div>
      		<br />
		<?php echo $comment['text']; ?>
	<?php } ?>
    <?php } ?>
    <br /><br /><h2 id="review-title"><?php echo $writec; ?></h2>
    <div class="article-content">
     
     <b><?php echo $entry_name; ?></b><br />
     <input type="text" name="name" value="" />
     <br />
     <br />
     <b><?php echo $entry_review; ?></b>
     <textarea name="text" cols="40" rows="8" style="width: 98%;"></textarea>
     <span style="font-size: 11px;"><?php echo $text_note; ?></span><br />
     <br />
     <b><?php echo $entry_captcha; ?></b><br />
     <input type="text" name="captcha" value="" />
     <br />
     <img src="index.php?route=product/product/captcha" alt="" id="captcha" /><br />
     <br />
     <div class="buttons">
      <div class="right"><a id="button-comment" class="button"><span><?php echo $text_send; ?></span></a></div>
     </div>
    </div>
    <?php } ?>
    </div>


   <?php } ?>
</div>
<script type="text/javascript"><!--
$('#button-comment').bind('click', function() {
	$.ajax({
		type: 'POST',
		url: 'index.php?route=news/article/writecomment&news_id=<?php echo $news_id; ?>',
		dataType: 'json',
		data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
		beforeSend: function() {
			$('.success, .warning').remove();
			$('#button-comment').attr('disabled', true);
			$('#review-title').after('<div class="attention"><img src="catalog/view/theme/default/image/loading.gif" alt="" /> <?php echo $text_wait; ?></div>');
		},
		complete: function() {
			$('#button-comment').attr('disabled', false);
			$('.attention').remove();
		},
		success: function(data) {
			if (data.error) {
				$('#review-title').after('<div class="warning">' + data.error + '</div>');
			}
			
			if (data.success) {
				$('#review-title').after('<div class="success">' + data.success + '</div>');
								
				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'captcha\']').val('');
			}
		}
	});
});
//--></script> 

