<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content"><?php echo $content_top; ?>
  <div class="t_bar photos_tabs clear_fix">
	<ul class="t0">
	    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
	    <li class="active_link"><a href="<?php echo $breadcrumb['href']; ?>"><b class="tab_word"><nobr><?php echo $breadcrumb['text']; ?></nobr></b></a></li>
	    <?php } ?>
	</ul>
  </div>
	
  <?/*<h1><?php echo $heading_title; ?></h1>*/?>
  <div class="border1">
  <?/*<?php if ($thumb || $description) { ?>
  <div class="category-info">
    <?php if ($thumb) { ?>
    <div class="image"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>" /></div>
    <?php } ?>
    <?php if ($description) { ?>
    <?php echo $description; ?>
    <?php } ?>
  </div>
  <?php } ?>*/?>
  <?php if ($ncategories) { ?>
<script>
$(document).ready(function() {
  $('.gallery-list .description').slideUp();
 $('.gallery-list li').bind('mouseenter', function() {
  $(this).find('.description').slideDown();
 });
 $('.gallery-list li').bind('mouseleave', function() {
  $(this).find('.description').slideUp();
 });
});
</script>
   <div class="gallery-top"><a class="show-parent" style="float: right; margin-right: 70px;" href="javascript://" onclick="$('.gallery-list').hide(); $('.gallery-top').hide();"><b>Обзор фотографий</b></a></div>
  <div class="gallery-list">
    <ul style="margin:0; padding:0;"l>
      <?php foreach ($ncategories as $key => $ncategory) { ?>
      <li <?php if($key >= 2) echo 'style="display: none"'; ?>>
       <a href="<?php echo $ncategory['href']; ?>">
        <img src="<?php echo $ncategory['thumb']; ?>" alt=" " />
        <div class="photo_album_title">
         <div class="clear_fix" style="margin: 0px">
          <div class="ge_photos_album fl_l" title="<?php echo $ncategory['name']; ?>"><?php echo $ncategory['name']; ?></div>
          <div class="camera fl_r"><?php echo $ncategory['count']; ?></div>
         </div>
         <br /><div class="description"><?php echo $ncategory['description']; ?></div>
        </div>
       </a>
      </li>
      <?php } ?>
    </ul>
     <?php if(count($ncategories) > 2) { ?>
      <div class="show-albums" style="width: 90%; height: 30px"><a style="text-decoration: none" class="albums_load_more" href="javascript://" onclick="$('.gallery-list li').show(); $('.show-albums').hide();"><b>Всего альбомов <?php echo count($ncategories); ?></b></a></div>
     <?php } ?>
  </div>
  <?php } ?>

  <?php if ($article) { ?>
  <div class="gallery-cat">
	<div class="gallery-top"><b>В альбоме <?php echo count($article); ?> фотографии</b></div><br />
    <?php foreach ($article as $articles) { ?>
    <div>
	<?php if ($articles['thumb']) { ?>
      <div class="image"><a href="<?php echo $articles['href']; ?>&view" class="images"><img src="<?php echo $articles['thumb']; ?>" title="<?php echo $articles['name']; ?>" alt="<?php echo $articles['name']; ?>" class="loadimg" /></a></div>
      <?php } ?>
       <?/*<div class="name"><a href="<?php echo $articles['href']; ?>"><?php echo $articles['name']; ?></a> <span class="headlines-text-coments">- <?php echo $articles['date_added']; ?></span></div>
     <div class="description"><?php echo $articles['description']; ?></div>
	  <?php if ($articles['acom']) { ?>
	  <span class="headlines-text-coments"><?php echo $text_comments; ?>: <?php echo $articles['total_comments']; ?></span>
	  <?php } ?>
	  <div class="button-more"><a class="button" href="<?php echo $articles['href']; ?>"><span><?php echo $button_more; ?></span></a></div>*/?>
    </div>
    <?php } ?>
  </div>
  <?/*<div class="pagination"><?php echo $pagination; ?></div>*/?>
  <?php } ?>
  </div>
  <?php echo $content_bottom; ?></div>
<script type="text/javascript"><!--
		$(document).ready(function() {
		$('.images').colorbox({ rel: 'images',
			overlayClose: true,
			
		});
	});
	//--></script>
<?php echo $footer; ?>
