<?php echo $header; ?>
<div id="content">
<div class="breadcrumb">
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
  <?php echo $breadcrumb['separator']; ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
  <?php } ?>
</div>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<div class="box">
  <div class="heading">
    <h1><img src="view/image/module.png" alt="" /> <?php echo $heading_title; ?></h1>
    <div class="buttons"><a onclick="$('#form').submit();" class="button"><span><?php echo $button_save; ?></span></a><a onclick="location = '<?php echo $cancel; ?>';" class="button"><span><?php echo $button_cancel; ?></span></a></div>
  </div>
  <div class="content">
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
      <table id="module" class="list">
        <thead>
          <tr>
		    <td class="left"><?php echo $entry_title; ?></td>
            <td class="left"><?php echo $entry_layout; ?></td>
            <td class="left"><?php echo $entry_position; ?></td>
            <td class="left"><?php echo $entry_status; ?></td>
            <td class="right"><?php echo $entry_sort_order; ?></td>
			
			<td></td>
		
			
          </tr>
        </thead>
        <?php $module_row = 0;?>
		
        <?php foreach ($modules as $module) { 
		$items = $module['items'];
		?>
        <tbody id="module-row<?php echo $module_row; ?>">
		  <tr>
		  <td><input type="text" name="links_module[<?php echo $module_row; ?>][box_title]" value="<?php echo $module['box_title']; ?>" /></td>
          <td class="left"><select name="links_module[<?php echo $module_row; ?>][layout_id]">
                <?php foreach ($layouts as $layout) { ?>
                <?php if ($layout['layout_id'] == $module['layout_id']) { ?>
                <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
                <?php } ?>
                <?php } ?>
            </select></td>
            <td class="left"><select name="links_module[<?php echo $module_row; ?>][position]">
                <?php if ($module['position'] == 'content_top') { ?>
                <option value="content_top" selected="selected"><?php echo $text_content_top; ?></option>
                <?php } else { ?>
                <option value="content_top"><?php echo $text_content_top; ?></option>
                <?php } ?>
                <?php if ($module['position'] == 'content_bottom') { ?>
                <option value="content_bottom" selected="selected"><?php echo $text_content_bottom; ?></option>
                <?php } else { ?>
                <option value="content_bottom"><?php echo $text_content_bottom; ?></option>
                <?php } ?>
                <?php if ($module['position'] == 'column_left') { ?>
                <option value="column_left" selected="selected"><?php echo $text_column_left; ?></option>
                <?php } else { ?>
                <option value="column_left"><?php echo $text_column_left; ?></option>
                <?php } ?>
                <?php if ($module['position'] == 'column_right') { ?>
                <option value="column_right" selected="selected"><?php echo $text_column_right; ?></option>
                <?php } else { ?>
                <option value="column_right"><?php echo $text_column_right; ?></option>
                <?php } ?>
            </select></td>
            <td class="left"><select name="links_module[<?php echo $module_row; ?>][status]">
                <?php if ($module['status']) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
            </select></td>
			
            <td class="right"><input type="text" name="links_module[<?php echo $module_row; ?>][sort_order]" value="<?php echo $module['sort_order']; ?>" size="3" /></td>
            
			<td class="right"><a onclick="$('#module-row<?php echo $module_row; ?>').remove();" class="button"><span><?php echo $button_remove; ?></span></a></td>
			
          </tr>
         
          <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 01:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][1][linkText]" size="40" value="<?php echo $items[1]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][1][linkUrl]" size="60" value="<?php echo $items[1]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 02:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][2][linkText]" size="40" value="<?php echo $items[2]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][2][linkUrl]" size="60" value="<?php echo $items[2]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 03:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][3][linkText]" size="40" value="<?php echo $items[3]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][3][linkUrl]" size="60" value="<?php echo $items[3]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 04:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][4][linkText]" size="40" value="<?php echo $items[4]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][4][linkUrl]" size="60" value="<?php echo $items[4]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 05:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][5][linkText]" size="40" value="<?php echo $items[5]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][5][linkUrl]" size="60" value="<?php echo $items[5]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 06:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][6][linkText]" size="40" value="<?php echo $items[6]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][6][linkUrl]" size="60" value="<?php echo $items[6]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 07:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][7][linkText]" size="40" value="<?php echo $items[7]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][7][linkUrl]" size="60" value="<?php echo $items[7]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 08:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][8][linkText]" size="40" value="<?php echo $items[8]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][8][linkUrl]" size="60" value="<?php echo $items[8]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 09:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][9][linkText]" size="40" value="<?php echo $items[9]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][9][linkUrl]" size="60" value="<?php echo $items[9]['linkUrl']; ?>"/>
			  		   </td>
		  </tr>
		  <tr>
            <td style="border:none; padding:.5em;" id="inst_<?php echo $module_row; ?>_link" colspan="7">
			<strong> <?php echo $entry_link_label; ?> 10:</strong>
			 <?php echo $entry_link_text;  ?>
                <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][10][linkText]" size="40" value="<?php echo $items[10]['linkText']; ?>"/>&nbsp;&nbsp;&nbsp;&nbsp;
			   <?php echo $entry_link_url; ?>
              <input style="margin:2px;" type="text" name="links_module[<?php echo $module_row; ?>][items][10][linkUrl]" size="60" value="<?php echo $items[10]['linkUrl']; ?>"/></td></tr>
          <tr>
            <td style="border-right:none" colspan = "6">&nbsp;<br/>
              &nbsp;</td>
          </tr>
        </tbody>
        <?php $module_row++; ?>
        <?php } ?>

        <tfoot>
          <tr>
            <td style="border-right:none"  colspan="5"></td>
            <td class="right"><a onclick="addModule();" class="button"><span><?php echo $button_add_module; ?></span></a></td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>
<script type="text/javascript"><!--
var module_row = <?php echo $module_row; ?>;

function addModule() {	
	html  = '<tbody id="module-row' + module_row + '">';
	html += '  <tr>';
	html += '   <td><input type="text" name="links_module['+ module_row +'][box_title]" value="Links" /></td>';
	html += '    <td class="left"><select name="links_module[' + module_row + '][layout_id]">';
	<?php foreach ($layouts as $layout) { ?>
	html += '      <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>';
	<?php } ?>
	html += '    </select></td>';
	html += '    <td class="left"><select name="links_module[' + module_row + '][position]">';
	html += '      <option value="content_top"><?php echo $text_content_top; ?></option>';
	html += '      <option value="content_bottom"><?php echo $text_content_bottom; ?></option>';
	html += '      <option value="column_left"><?php echo $text_column_left; ?></option>';
	html += '      <option value="column_right"><?php echo $text_column_right; ?></option>';
	html += '    </select></td>';
	html += '    <td class="left"><select name="links_module[' + module_row + '][status]">';
    html += '      <option value="1" selected="selected"><?php echo $text_enabled; ?></option>';
    html += '      <option value="0"><?php echo $text_disabled; ?></option>';
    html += '    </select></td>';
	html += '    <td class="right"><input type="text" name="links_module[' + module_row + '][sort_order]" value="" size="3" /></td>';
	html += '    <td class="right"><a onclick="$(\'#module-row' + module_row + '\').remove();" class="button"><span><?php echo $button_remove; ?></span></a></td>';
	html += '  </tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 01:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][1][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][1][linkUrl]" size="60" value=""/></td></tr>';	  
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 02:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][2][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][2][linkUrl]" size="60" value=""/></td></tr>';
		
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 03:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][3][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][3][linkUrl]" size="60" value=""/></td></tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 04:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][4][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][4][linkUrl]" size="60" value=""/></td></tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 05:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][5][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][5][linkUrl]" size="60" value=""/></td></tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 06:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][6][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][6][linkUrl]" size="60" value=""/></td></tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 07:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][7][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][7][linkUrl]" size="60" value=""/></td></tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 08:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][8][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][8][linkUrl]" size="60" value=""/></td></tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 09:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][9][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][9][linkUrl]" size="60" value=""/></td></tr>';
	
	html += ' <tr><td style="border:none; padding:.5em;" id="inst_' + module_row + '_link" colspan="7"><strong> <?php echo $entry_link_label; ?> 10:</strong><?php echo $entry_link_text; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][10][linkText]" size="40" value=""/>&nbsp;&nbsp;&nbsp;&nbsp; <?php echo $entry_link_url; ?><input style="margin:2px;" type="text" name="links_module[' + module_row + '][items][10][linkUrl]" size="60" value=""/></td></tr><tr><td style="border-right:none" colspan = "6">&nbsp;<br/>&nbsp;</td></tr>';
		  
	html += '</tbody>';
	
	$('#module tfoot').before(html);
	
	module_row++;
}

//--></script>
<?php echo $footer; ?>