<ol style="height: 300px; overflow-y: scroll;">
<?php
    foreach($products as $result){
?>
        <li><a href="/index.php?route=product/product&product_id=<?php echo $result["product_id"] ?>" target="_new"><?php echo $result["name"] ?></a></li>
<?php
}
?>
</ol>